html {
    box-sizing: border-box;
}

*, *::before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    max-width: 1990px;
    min-height: 100vh;
    background-color: var(--primary-dark);
    color: var(--primary-white);
    font-family: var(--main-font-regular);

    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-container {
    max-width: 1990px;
    width: 100%;
    min-height: 100vh;
    background-color: var(--yellow-01);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.lorem-ipsum {
    max-width: 1020px;
}

.lorem-ipsum-main {
    padding: 2rem 1rem 2rem 1rem;
}

:root {
    --heading-font-bold: 'Nippo-Bold', sans-serif;
    --heading-font-medium: 'Nippo-Medium', sans-serif;
    --main-font-bold: 'AzeretMono-Bold', sans-serif;
    --main-font-regular: 'AzeretMono-Regular', sans-serif;

    --primary-white: #E8E3E3;
    --white-01: #E8E3E3;
    --gray-01: #DED8D8;
    --gray-02: #C5BABA;
    --primary-dark: #04101F;
    --dark-01: #06172D;
    --blue-01: #0C2D57;
    --blue-02: #134686;
    --blue-03: #3A85E4;
    --orange-01: #FC6736;
    --orange-02: #FD8D68;
    --orange-03: #FC541D;
    --pink-01: #FFB0B0;
    --pink-02: #FFCCCC;
    --pink-03: #FF8080;
}

@font-face {
    font-family: 'AzeretMono-Bold';
    src: url('../fonts/AzeretMono-Bold.woff2') format('woff2'),
         url('../fonts/AzeretMono-Bold.woff') format('woff'),
         url('../fonts/AzeretMono-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
} 
  
@font-face {
    font-family: 'AzeretMono-Regular';
    src: url('../fonts/AzeretMono-Regular.woff2') format('woff2'),
         url('../fonts/AzeretMono-Regular.woff') format('woff'),
         url('../fonts/AzeretMono-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
         url('../fonts/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/Montserrat-Bold.woff2') format('woff2'),
         url('../fonts/Montserrat-Bold.woff') format('woff'),
         url('../fonts/Montserrat-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/Montserrat-Black.woff2') format('woff2'),
         url('../fonts/Montserrat-Black.woff') format('woff'),
         url('../fonts/Montserrat-Black.ttf') format('truetype');
         font-weight: 900;
         font-display: swap;
         font-style: normal;
  }
  
.flex {
    display: flex;
    gap: var(--gap, 1rem)
}


/* primary header */
.logo {
    width: 60px;
    height: auto;
    margin: 1rem 0 1.5rem 4rem;
}

.primary-header {
    --gap: 2.5rem;
    background-color: var(--primary-dark);
    align-items: flex-end;
    justify-content: space-between;
        /* this shoots off the logo img to the left most side and the nav link to the right most side */
    position: sticky;
    z-index: 9999;
    top: 0;

    /*
    box-shadow: 4px 4px 5px hsl(214 76% 7%/0.8);
    */
}

.primary-navigation {
    list-style: none;
    margin: 0;
    padding-right: 4rem;
    margin-bottom: 1.5rem;
}

.mobile-nav-toggle{
    display: none;
}

.primary-navigation a {
    text-decoration: none;
    font-family: 'Montserrat-Bold';
    font-size: 1.15rem;
}

.primary-navigation li {
    color: var(--primary-white);
}

/* links */
a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    color: purple;
}

a:focus {
    outline: none
}

button, .btn-nav:visited, .btn-main, .btn-secondary, .btn-cart {
    color: inherit;
}

.btn-nav:hover {
    color: var(--orange-03);
}

.btn-nav:focus, .btn-nav:active {
    outline: none;
}

button, .btn-main, .btn-secondary, .btn-cart {
    font-family: 'Montserrat-Bold';
    font-size: 1.25rem;
    margin-top: 2rem;
    padding: 0.8rem 2.75rem 0.8rem 2.75rem;
    background-color: var(--gray-02);
    color: var(--dark-01);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-main:hover {
    background-color: var(--orange-01);
}

.btn-main:active, .btn-secondary:active, .btn-cart:active {
    transform: scale(0.95);
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid var(--gray-01);
    color: var(--gray-01);
}

.btn-secondary:hover {
    background-color: var(--blue-03);
    border: 1px solid var(--blue-02);
    color: var(--gray-01);
}

.btn-cart {
    font-size: 1rem;
    margin: 0.25rem;
}

.btn-cart:hover {
    background-color: var(--pink-01);
}


/* reusable bg-colors and txt colors */
.bg-dark-01 {
    background-color: var(--primary-dark);
}

.bg-dark-02 {
    background-color: var(--dark-01);
}

.bg-light {
    background-color: var(--primary-white);
}

/* main body */
.full-width {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    /*
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    */
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#hero-items {
    grid-area: 1 / 1 / 1 / 7;
    padding: 4rem 1rem 2rem 4rem;
}

.grid-left-text {
    grid-area: 1 / 1 / 1 / 7;
    padding: 2rem 1rem 2rem 4rem;
}

.grid-right-text {
    grid-area: 1 / 7 / 1 / 13;
    padding: 2rem 4rem 2rem 1rem;
}

.grid-left-text, .grid-right-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-img {
    grid-area: 1 / 7 / 1 / 13;
    background-color: var(--blue-02);
    width: 100%;
    height: 100%;
    padding: 2rem;
    object-fit: cover;
}
  
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-Black';
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    margin: 2px 0 10px 0;
}

h2 {
    font-size: 2.25rem;
    margin: 2px 0 10px 0;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
    color: var(--primary-white);
}

h6 {
    font-size: 1.15rem;
    color: var(--primary-white);
}

p {
    font-family: 'AzeretMono-Regular';
    font-size: 1rem;
}

section {
    padding: 2rem 4rem 2rem 4rem;
}

img {
    width: 100%;
    height: auto;
}

ul {
margin-left: 0;
padding-left: 0;
list-style: none;
}

ul .feature-item, ul .accessory-features {
    /*
    Full width of heart icon = 24px
    */
    font-family: 'AzeretMono-Regular';
    padding-left: 40px;
    margin-bottom: 1.5rem;
    line-height: 24px;
    background-image: url(../assets/heart-icon.svg);
    background-repeat: no-repeat;
}

ul .accessory-features {
    padding-left: 28px;
    font-size: 1rem;
    margin-bottom: 8px;
    background-size: 16px;
}

.grid-right-img {
    grid-area: 1 / 7 / 1 / 13;
    background-color: var(--blue-02);
}

.grid-left-img{
    grid-area: 1 / 1 / 1 / 7;
    background-color: var(--orange-01);
}

.grid-right-img, .grid-left-img{
    width: 100%;
    height: 100%;
    padding: 2rem;
    object-fit: cover;
    overflow: hidden;
}

#product-features {
    grid-area: 1 / 7 / 1 / 13;
    padding: 2rem 4rem 2rem 1rem;
}

#product-samples {
    grid-area: 1 / 1 / 1 / 7;
    padding: 2rem;
    background-color: var(--orange-01);
    object-fit: cover;
    overflow: hidden;
}

.product-samples-photo {
    width: auto;
    height: 100%;
    padding: 2rem;
    left: -45%;
    z-index: 1;
    position: relative;
    z-index: 1;
}

.product-accessories {
    display: flex;
    flex-flow: row wrap;
    column-gap: 0.5rem;
    row-gap: 1rem;
}

.product-accessory-item {
    background-color: var(--blue-02);
    display: flex;
    flex-direction: column;
    flex: 1 280px;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border-radius: 4px;
}

.product-accessory-header {
    display: flex;
    flex-direction: column;
    padding: 8px;
    bottom: 0;
}

.img-accessory-wrapper {
    width: 100%;
    height: 280px;
    object-fit: fill;
    overflow: hidden;
}

.product-accessory-item:nth-child(even) .img-accessory-wrapper  {
    background-color: var(--orange-02); /* Set the background color for even elements */
}

.product-accessory-item:nth-child(odd) .img-accessory-wrapper  {
    background-color: var(--pink-02); /* Set the background color for odd elements */
}

.img-cartridge {
    width: auto;
    height: 100%;
    padding: 2rem;
    left: -50%;
    z-index: 1;
    position: relative;
    z-index: 1;
}

/* footer */
footer {
    padding: 6rem 4rem 4rem 4rem;
    background-color: var(--primary-dark);
    margin-top: auto;
}

.footer-navigation a{
    text-decoration: none;
    color: var(--primary-white);
    font-family: 'AzeretMono-Regular';
    font-size: 1rem;
}


.nav-footer {
    color: var(--primary-white);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin: 1rem;
}

#nav-quick-nav {
    grid-area: 1 / 1 / 1 / 7;
}

#nav-gen-support {
    grid-area: 1 / 7 / 1 / 13;
}

#nav-legal {
    grid-area: 2 / 1 / 2 / 7;
}

#nav-social {
    grid-area: 2 / 7 / 2 / 13;
}

h1, h2, h3, h4, h5, h6, p, nav, li{
    color: var(--primary-white);
}

@media (max-width: 920px) {
    body {
        background-color: var(--primary-white);
    }

    h1, h2, p, nav, li{
        color: var(--primary-dark);
    }

    /* main nav */
    .primary-header {
        box-shadow: 4px 4px 5px hsl(214 76% 7%/0.2);
    }

    /* links */
    .btn-secondary {
        font-family: 'Montserrat-Bold';
        font-size: 1.25rem;
        margin-top: 2rem;
        padding: 0.8rem 2.75rem 0.8rem 2.75rem;
        background-color: var(--gray-02);
        color: var(--dark-01);
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

     /* main body */
     .btn-main, .btn-secondary {
        width: 100%;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }

    #hero-items, #product-features, .grid-left-text, .grid-right-text {
        grid-area: 1 / 1 / 1 / 7;
        padding: 2rem 1rem;
    }

    #hero-img, #product-samples, #grid-left-img, .grid-right-img {
        grid-area: 2 / 1 / 2 / 7;
    }

    #hero-img {
        background-color: var(--orange-01);
    }

    #hero-feature {
        grid-area: 1 / 1 / 1 / 7;
        padding: 2rem 1rem 2rem 1rem;
    }

    #product-samples {
        width: 100%;
        height: 100%;
        padding: 1rem;
        background-color: var(--blue-02);
        overflow: hidden;
        padding: 2rem 1rem 2rem 1rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1.75rem;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    h5{
        font-size: 1.15rem;
    }

    h6{
        font-size: 1rem;
    }

    section {
        padding: 2rem 1rem;
    }

    #hero-items {
        padding-top: 4rem;
    }

    .product-samples-photo {
        width: 1200px;
        height: auto;
        left: -45%;
        z-index: 1;
        position: relative;
    }

    .img-cartridge {
        left: -75%;
    }

    .img-accessory-wrapper {
        height: 360px;
    }
    .accessory-features {
        color: var(--primary-white);
    }

    .lorem-ipsum-txt {
        color: var(--primary-dark);
    }

    /* footer */
    #nav-quick-nav {
        grid-area: 1 / 1 / 1 / 4;
    }

    #nav-gen-support {
        grid-area: 1 / 4 / 1 / 7;
    }

    #nav-legal {
        grid-area: 2 / 1 / 2 / 4;
    }

    #nav-social {
        grid-area: 2 / 4 / 2 / 7;
    }
}

@media (max-width: 767px) {
    /* main nav */
    .logo {
        margin: 4rem 0 1.5rem 1rem;
        position: relative;
        z-index: 99999;
    }

    .primary-navigation {
        --gap: 4rem;

        z-index: 9999;

        background-color: var(--primary-dark);

        position: fixed;
        inset: 0 0 0 0%;
        padding: 12rem 0 0 1rem;
        margin: 0;

        flex-direction: column;

        transform: translateX(100%);
        transition: transform 350ms ease-in-out;
    }

    .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
    }

    .primary-navigation a {
        font-size: 2.5rem;
    }
    
    /* main-nav icon */
    
    .mobile-nav-toggle {
        display: block;
        position: absolute;
        background-color: transparent;
        z-index: 99999;
        aspect-ratio: 1 / 1;
        margin: 0;
        padding: 0;
        top: 4rem;
        right: 1rem;
        background-repeat: no-repeat;
        border: 0;
    }

    #mobile-nav-dashes{
        background-color: transparent;
        width: 48px;
        height: auto;
        aspect-ratio: 1 / 1;
        margin: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    
    #mobile-nav-dashes span {
        display: block;
        position: absolute;
        z-index: 9999;
        aspect-ratio: 1 / 1;
        border-top: 4px solid var(--primary-white);
        height: 4px;
        width: 100%;
        margin: 0;
        background: var(--primary-dark);
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    #mobile-nav-dashes span:nth-child(1) {
        top: 0px;
    }
    
    #mobile-nav-dashes span:nth-child(2),#mobile-nav-dashes span:nth-child(3) {
        top: 12px;
    }
    
    #mobile-nav-dashes span:nth-child(4) {
        top: 24px;
    }
    
    #mobile-nav-dashes.open span:nth-child(1) {
        top: 12px;
        width: 0%;
        left: 50%;
    }
    
    #mobile-nav-dashes.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    
    #mobile-nav-dashes.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    
    #mobile-nav-dashes.open span:nth-child(4) {
        top: 12px;
        width: 0%;
        left: 50%;
    }

    /* main body */
    .product-accessory-item {
        flex: 1 300px;
    }

    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    h4 {
        font-size: 1.15rem;
    }

    h5{
        font-size: 1rem;
    }

    h6{
        font-size: 0.8rem;
    }

    .img-cartridge {
        left: -190%;
    }

    /* footer */
    footer {
        padding: 4rem 1rem 4rem 1rem;
        background-color: var(--primary-dark);
    }

    #nav-quick-nav {
        grid-area: 1 / 1 / 1 / 7;
    }

    #nav-gen-support {
        grid-area: 2 / 1 / 2 / 7;
    }

    #nav-legal {
        grid-area: 3 / 1 / 3 / 7;
    }

    #nav-social {
        grid-area: 4 / 1 / 4 / 7;
    }
}